matplotlib==3.10.9
numpy==2.2.6
opencv-python==4.13.0.92
pandas==2.3.3
pillow==12.2.0
plotly==6.7.0
reportlab==4.5.1
requests==2.34.2
streamlit==1.57.0
streamlit-lottie==0.0.5
torch==2.5.1+cu121
torchvision==0.20.1+cu121
ultralytics==8.4.53

